@import url("fonts.css");
@import url("reset.css");



body{
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}

[class*= "__title"]{
    line-height: 1.27;
    font-family: Poppins;
    text-transform: capitalize;
}

.header__title {
    font-size: 40px;
    color: black;
    text-align: center;
}
.menu-list {
    text-align: center;
    text-decoration: underline;
}
.menu-linc {
    color: rgb(0, 0, 186);
}
/*---------------------------------------*/
.title-text{
    font-size: 25px;
    text-align: right;
}
.title-text span{
    color: #6B77E5;
}
.why__title,
.sub__title{
    font-weight: 600;
}
.why__title{
    text-align: center;
    font-size: 30px;
    color: #37393F;

}
.sub__title{
    font-size: 20px;
    color: #6B77E5;
}
.text{
    line-height: 1.47;
}
/*---------------------------------------*/
.project__title {
    color: #37393F;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.project-list,
.project-item{
    font-weight: 500;
}
.project-text {
    line-height: 1.47;
}

/*---------------------------------------*/
.get__title{
    text-align: center;
    font-size: 54px;
    color: #000000;
}
.stored__title {
    color: #000;
    font-size: 53px;
}
.get-sub__title {
    color: #9C0E43;
    font-size: 13px;
    text-shadow: 3px 3px 1px #890d3a;
}
.get-text {
    text-transform: lowercase;
    color: #000;
    font-size: 21px;
}
/*---------------------------------------*/

.hyper-sub__title {
    color: #9C0E43;
    font-size: 13px;
    text-decoration: line-through;
}
.hyper__title {
    color: #000;
    font-size: 53px;

}
.hyper-text {
    text-transform: uppercase;
    color: #61a086;
    font-size: 21px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}